@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-color: #010101;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

header, h1, a {
    margin: 0;
    padding: 0;
}

header h1, h2 {
    font-family: 'Cambay', sans-serif;
    font-size: 2 rem;
    text-align: center;
    margin-top: 50px;
}

header nav .menu {
    display: flex;
    flex: 1;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    margin: auto;
}

header nav .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;

}

header nav .menu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 830px) {
    header nav {
        display: flex;
        align-items: center;
    }
}

header .search {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    display: block;
    margin: auto;
}

