@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-color: #010101;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: auto;
}

.btn-primary{
    background-color: orangered;
}

.collapse {
    margin-left: 150px;
    font-size: 20px;
}

header, h1, a {
    margin: 0;
    padding: 0;
}

header h1, h2 {
    font-family: 'Cambay', sans-serif;
    font-size: 2 rem;
    text-align: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

header nav .menu {
    display: flex;
    flex: 1;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

header nav .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;

}

header nav .menu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 830px) {
    header nav {
        display: flex;
        align-items: center;
    }
}

header .search {
    min-width: 50px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    display: block;
    margin: auto;
    width:80%;
}

.car-img{
    width: 100%;
    
}
#work-2{
    display: none;
}

@media (creen and ax-width: :40px){
    #work-2{
    display: noneblock}
}
    #work{
        display: none;
}


